.body{
    background-color: #18C3F8;
    margin: 0;
    font-family: Verdana;
   }
   .navi{
    background-color: #81F1B2;
    padding: 10;
    margin: 0;
    text-align: left;
    font-size: 20;
    font-weight: bold;
    color: #FFFFFF;
   }
   .content{
    padding: 10;
    margin: 0;
   }